/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {   
    font-family: "Open Sans", Arial, sans-serif;
    height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding: 3rem;
   
}
.container >.gallery {
   display: grid;
   grid-template-columns: repeat(3, 33.3%);
   grid-template-rows: repeat(9, 11.1%);
   gap: 10px 10px;
}
img { 
    display: block;

}
.gallery-item {
    height: block;
    overflow: hidden;
    
}
.gallery-item-info {
    height: block;
    padding: 6px;
    background: rgb(56, 56, 55);
    color: white;
    visibility: hidden;
    opacity: 0;
    
}
.span{ 
    font-weight: bold;
}

.gallery-item:hover{
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info{
    height: 500px;
    bottom: 240px;
    background:rgb(56, 56, 55);
}
.gallery-item:hover{
    transform: scale(1.1) rotate(-3reg);
}

.profile-image > img {
   display: block;
   width: 100px;
   height: 100px;
   border: 3px solid rgb(2, 65, 2);
   border-radius: 50px; 
   
}